html, body {
    margin: 0;
    padding: 0;
    background-color: #10162F;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    }
    
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.main {
    height: 90vh;

    z-index: 10;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-top: 15vh;
    padding: 0 5rem;
}

div {
    z-index: 20;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 10rem;
    justify-content: space-around;
    z-index: 10;
}

.item {
    text-align: center;
    color: #121212;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    z-index: 30;
    font-size: 3rem;
    margin: 2rem 0 0 0;
    font-weight: 100;
}

h1::after {
    content: "";
    display: block;
    border-top: 2px solid white;
    width: 10%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.material-symbols-outlined.icon {
    color:white;
    font-size: 6rem;
    background: -webkit-linear-gradient(315deg, #eee, #07598C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.value {
    font-size: 2.5rem;
    color: rgba(255,255,255,0.87);
    margin-bottom: 1rem;
    font-weight: 100;
}

.unit {
    color: rgba(255,255,255,0.87);
    font-size: 1.5rem;
    font-weight: 100;
}

p {
    margin: 0;
    color: rgba(255,255,255,0.87);
}